<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todolist</title>
  <style>
  
   .box {
     line-height: 40px;
     text-align: left;
     text-indent: 2em;
     color:#000;
     background: #eee;
     margin: 5px;
   }
  .active {
    background: red;
  }

  ul li{
    width: 100px;
    height: 35px;
    background: #eee;
    margin: 5px 10px;
    float: left;
  }
  </style>
</head>

<body>


  <div id="app">

    <input type="text" v-model="inputValue"> <button @click="handleButtonClick" class="btn">提交todolist</button>

    <ul>
      <li @click="handleLiClick(key)" class="box" :class="{active: item.state}" v-for="(item, key) in list"> {{ item.name }} </li>
    </ul>

  </div>


  <script src="./vue.js"></script>
  <script>

    const vm = new Vue({
      el: '#app',
      data() {
        return {
          // list: ["中秋节", "国庆节", "普天同庆"],
          list: [
            {
              name: "中秋节",
              state: false
            },
            {
              name: "国庆节",
              state: false
            },
            {
              name: "普天同庆",
              state: false
            }
          ],
          inputValue: ''
        }
      },
      methods: {
        handleButtonClick() {
          this.list.push({
            name: this.inputValue,
            state: false
          })  
          this.inputValue = ''
        },
        handleLiClick(key) {
           this.list.forEach((item, index) => {
            item.state = key === index ? true: false
           })
        }
      },

    })





  </script>


</body>

</html>